@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
html {
    font-size: 16px;
}

body {
    background: linear-gradient(45deg, #810394,#0B0054,#810394);
    background-size:300% 300%;
    animation: color 12s ease-in-out infinite;
    font-family: 'Judson', serif;
}
@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position:0 50%;
    }
}

.audioplayer:after {
    background: url('/img1.webp');
    background-size: cover;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(177, 17, 192);
    opacity: .5;
}

.audioplayerlg:after {
    background: url('/apudurga.webp');
    background-size: cover;
    background-repeat: no-repeat;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(177, 17, 192);
    opacity: .5;
}


/* width */

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}