@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    font-size: 16px;
    scroll-behavior: smooth !important;
}

body {
    background: linear-gradient(134deg, #640973 36.46%, #0B0054 73.96%);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}
@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position:0 50%;
    }
}

.audioplayer:after {
    background: url('/img1.webp');
    background-size: cover;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(177, 17, 192);
    opacity: .5;
}

.audioplayerlg:after {
    background: url('https://res.cloudinary.com/dmv3vi7ks/image/upload/v1691146199/apu_durga_fpp7qp.png');
    background-size: cover;
    background-repeat: no-repeat;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(177, 17, 192);
    opacity: .5;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:hover {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}