@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    font-size: 16px;
}

body {
    background: linear-gradient(134deg, #640973 53.65%, #0B0054 64.06%);
    background-attachment: fixed;
}

.audioplayer:after {
    background: url('/img1.webp');
    background-size: cover;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(177, 17, 192);
    opacity: .5;
}

.mapcont {
    top: 50%;
    left: 66%;
    transform: translate(-50%, -50%);
}