.popover {
	padding: 10px;
	border-radius: 4px;
}

.popover-background {
	backdrop-filter: blur(5px);
	height: 100vh;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popover-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.popover-content button {
	padding: 5px 10px;
	margin-right: 5px;
	background-color: transparent;
	border: 1px solid #cccccc72;
	color: aliceblue;
	cursor: pointer;
}

.popover-content p {
	margin: 0;
	padding: 10px 0;
}